.main {
    width: 100%;
    height: 95vh;
    position: relative;
    background: linear-gradient(rgba(255,255,255,.7), rgba(255,255,255,.7)), url("../img/backgrounds/back_about_us.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.main h1 {
   margin-top: -10px;
    padding-top: 10px;
    font-size: 45px;
    font-family: 'Quicksand', sans-serif;
    color: #ff4f58ff;
}

.main p {
    margin-top: -20px;
    font-size: 20px;
    line-height: 1.2;
    margin-left: 125px;
    max-width: 1300px;
}

.main h6 {
    margin-top: -2px;
    font-size: 38px;
    font-family: 'Courgette', cursive;
    color: #0063b2ff;
}

.main h2 i {
    font-size: 40px;
}

.main p span, .main h6 i {
    color: #fcc444;
}

.main h6 #hash {
    color: red;
}

.profile_card1 {
    position: absolute;
    max-width: 300px;
    box-shadow: -5px 2px 18px 4px rgba(252, 196, 68, 0.4);
    margin-left: 380px;
    margin-top: -50px;
}

.profile_card1 .cover_photo #cover1 {
    width: 300px;
    height: 100px;
}

.profile_card1 .photo {
    background: #f9f9f9;
    width: 300px;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.profile_card1 .photo #main_pic {
    position: relative;
    top: -50px;
    filter: grayscale(50%);
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    box-shadow: -1px 1px 11px 6px rgba(189, 172, 172, 0.33);
}

.profile_card1 .content {
    background: #f9f9f9;
    width: 300px;
    height: 160px;
    position: relative;
    top: -35px;
}

.profile_card1 .contact {
    background: #30354d;
    width: 300px;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.profile_card1 .content .name, .profile_card1 .content .fullstack, .profile_card1 .content .email, .profile_card1 .content .email a  {
    margin: 0;
    text-align: center;
}

.profile_card1 .content .name {
    font-family: 'Gloria Hallelujah', cursive;
    padding-bottom: 15px;
    margin-top: -4px;
}

.profile_card1 .content .fullstack {
    padding-bottom: 10px;
    font-family: 'Quicksand', sans-serif;
}

.profile_card1 .content .fullstack i, .profile_card1 .content .email i {
    color: #fcc444;
}

.profile_card1 a {
    color: #0ab581;
    text-decoration: none;
}

.profile_card1 a:hover {
    color: #fcc444;
}

.profile_card1 .contact ul {
    padding: 0;
}

.profile_card1 .contact i {
    font-size: 22px;
    padding: 10px;
    text-decoration: none;
    color: #0ab581;
}

.profile_card1 .contact i:hover {
    color: #000;
}

.profile_card1:hover {
    -webkit-animation-name: pulse;  
    animation-name: pulse;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
@keyframes pulse {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.profile_card2 {
    max-width: 300px;
    box-shadow: -5px 2px 18px 4px rgba(252, 196, 68, 0.4);
    margin-left: 850px;
    margin-top: -50px;
}

.profile_card2 .cover_photo #cover1 {
    width: 300px;
    height: 100px;
}

.profile_card2 .photo {
    background: #f9f9f9;
    width: 300px;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.profile_card2 .photo #main_pic {
    position: relative;
    top: -50px;
    filter: grayscale(100%);
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    box-shadow: -1px 1px 11px 6px rgba(189, 172, 172, 0.33);
}

.profile_card2 .content {
    background: #f9f9f9;
    width: 300px;
    height: 160px;
    position: relative;
    top: -35px;
}

.profile_card2 .contact {
    background: #30354d;
    width: 300px;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.profile_card2 .content .name, .profile_card2 .content .fullstack, .profile_card2 .content .email, .profile_card2 .content .email a  {
    margin: 0;
    text-align: center;
}

.profile_card2 .content .name {
    font-family: 'Gloria Hallelujah', cursive;
    padding-bottom: 15px;
    margin-top: -4px;
}

.profile_card2 .content .fullstack {
    padding-bottom: 10px;
    font-family: 'Quicksand', sans-serif;
}

.profile_card2 .content .fullstack i, .profile_card2 .content .email i {
    color: #fcc444;
}

.profile_card2 a {
    color: #0ab581;
    text-decoration: none;
}

.profile_card2 a:hover {
    color: #fcc444;
}

.profile_card2 .contact ul {
    padding: 0;
}

.profile_card2 .contact i {
    font-size: 22px;
    padding: 10px;
    text-decoration: none;
    color: #0ab581;
}

.profile_card2 .contact i:hover {
    color: #000;
}

.profile_card2:hover {
    -webkit-animation-name: pulse;  
    animation-name: pulse;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes pulse {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.sidenav .active {
    color: #fff;
}