/*   CODED BY HRITVIK MAINI   */
html {
  scroll-behavior: smooth;
  user-select: none;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
}

.to-top {
  background-color: #FFDEE9;
  background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
  position: fixed;
  bottom: 16px;
  right: 32px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: #1f1f1f;
  text-decoration: none;
  opacity: 0;
  pointer-events: none;
  transition: all .4s;
}

.to-top.active {
  bottom: 32px;
  pointer-events: auto;
  opacity: 1;
  text-decoration: none;
  color: black;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #0563bb;
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.main_content_animation {
  position: relative;
  -webkit-animation-name: animate_from_bottom;
  -webkit-animation-duration: 1s;
  animation-name: animate_from_bottom;
  animation-duration: 1s
}

@-webkit-keyframes animate_from_bottom {
  from {
    bottom: -100px;
    opacity: 0
  }
  to {
    bottom: 0px;
    opacity: 1
  }
}

@keyframes animate_from_bottom { 
  from {
    bottom: -100px;
    opacity: 0
  } 
  to {
    bottom: 0;
    opacity: 1
  }
}

#main_content {
  display: none;
  text-align: center;
}

.header_main {
  font: 13px Arial, Helvetica, sans-serif;
  background-color:#292c2f;
	box-shadow:0 1px 1px #ccc;
	padding: 20px 40px;
	height: 80px;
	color: #ffffff;
	box-sizing: border-box;
}

.header_main .header_limiter {
	max-width: 1250px;
	text-align: center;
	margin: 0 auto;
}

.header_main .header_limiter a {
	color: #ffffff;
	text-decoration: none;
}

.header_main .header_limiter img {
  margin-top: -36px;
	float: left;
  width: 195px;
  height: auto;
}

.header_main .header_limiter h1 {
  font-family: 'Nanum Pen Script', cursive;
  font-size: 45px;
	line-height: 40px;
  margin-top: -22px;
  float: left;
  margin-left: 15%;
}

.header_main .header_limiter h1 i {
	color: #fcc444;
}

.header_main .header_limiter ul {
	font: 14px Arial, Helvetica, sans-serif;
	list-style: none;
  line-height: 1;
  float: right;
  margin: 0 auto;
  margin-right: 15%;
  margin-top: -6px;
}

.header_main .header_limiter ul li {
	display: inline-block;
	margin-left: 15px;
	opacity:0.9;
}

.header_main .header_limiter ul li:hover {
	opacity: 1;
}

.header_main .header_limiter ul li:last-child a {
	font-weight: bold;
	background-color: #3a3c3e;
	padding: 10px 15px;
  border-radius: 3px;
}

.header_main .header_limiter form {
  position: relative;
  margin-top: 19px;
  left: 95%;
  transform: translate(-50%,-50%);
  transition: all 1s;
  width: 50px;
  height: 50px;
  background: white;
  box-sizing: border-box;
  border-radius: 25px;
  border: 4px solid #fcc444;
  padding: 5px;
}

.header_main .header_limiter input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;;
  height: 42.5px;
  line-height: 30px;
  outline: 0;
  border: 0;
  display: none;
  font-size: 1em;
  border-radius: 20px;
  padding: 0 20px;
}

.header_main .header_limiter .fa {
  box-sizing: border-box;
  padding: 11px;
  width: 42.5px;
  height: 42.5px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  color: #07051a;
  text-align: center;
  font-size: 1.2em;
  transition: all 1s;
}

.header_main .header_limiter form:hover {
  width: 200px;
  cursor: pointer;
}

.header_main .header_limiter form:hover input {
  display: block;
}

.header_main .header_limiter form:hover .fa {
  background: #07051a;
  color: white;
}

.sidebar {
  position: fixed;
  top: 13%;
  left: 40px;
  font-size: 30px;
  cursor: pointer;
  transition: all .4s;
  z-index: 999;
  color: #6e4c1eff;
}

.sidebar_active {
  position: fixed;
  top: 4%;
  left: 40px;
  font-size: 30px;
  cursor: pointer;
  pointer-events: auto;
  z-index: 999;
  color: #6e4c1eff;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 50px;
}

.sidenav .closebtn {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 28px;
  margin-left: 50px;
}

.sidenav img {
  width: 130px;
  height: auto;
  border-radius: 100px;
  border: 3px solid #fcc444;
  margin-right: -30px;
}

.sidenav #premium {
  position: relative;
  font-size: 25px;
  color: #fcc444;
  top: -120px;
  right: 3px;
}

.sidenav h2 {
  position: relative;
  color: #00b1d2ff;
  font-family: 'Kalam', cursive;
  font-size: 35px;
  top: -28px;
}

.sidenav h3 {
  position: relative;
  font-family: 'Itim', cursive;
  color: #fcc444;
  font-size: 16px;
  top: -70px;
}

.sidenav #fade1 hr {
  margin-top: -60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 22px;
  color: #818181;
  display: block;
  transition: 0.3s;
  text-align: left;
}

.sidenav #fade2 hr {
  margin-top: 10px;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav #sidebar_icon {
  color: #ffe042;
}

.sidenav p {
  position: relative;
  margin-top: 50px;
  color: #fff;
  font-size: 12px;
}

.slider {
  width: 50%;
  height: 75vh;  
}

.slider .fade > figure {
  animation: imageAnimation 30s linear infinite 0s;
  backface-visibility: hidden;
  background-size: cover;
  color: transparent;
  height: 75vh;
  margin: auto;
  opacity: 0;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.slider .fade > figure:nth-child(1) {
  background-image: url('../img/slider/img1.jpg');
}

.slider .fade > figure:nth-child(2) {
  animation-delay: 6s;
  background-image: url('../img/slider/img2.jpg');
}

.slider .fade > figure:nth-child(3) {
  animation-delay: 12s;
  background-image: url('../img/slider/img3.jpg');
}

.slider .fade > figure:nth-child(4) {
  animation-delay: 18s;
  background-image: url('../img/slider/img4.jpg');
}

.slider .fade > figure:nth-child(5) {
  animation-delay: 24s;
  background-image: url('../img/slider/img5.jpg');
}

@keyframes imageAnimation {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
  }
  8% {
    animation-timing-function: ease-out;
    opacity: 1;
  }
  17% {
    opacity: 1
  }
  25% {
    opacity: 0
  }
  100% {
    opacity: 0
  }
}

hr {
  border: 0;
  max-width: 100%;
  background-position: 50%;
  box-sizing: border-box;
}

.fade {
  border-width: 0 0 2px;
  border-image: linear-gradient(
    90deg,
    hsla(0, 0%, 100%, 0),
    hsla(0, 0%, 100%, 0.5) 50%,
    hsla(0, 0%, 100%, 0) 100%) 0 0 100%;
  border-style: solid;
}

.bookends {
  position: relative;
  border-width: 5px;
  border-color: hsl(0, 0%, 50%) transparent;
  height: 2px;
  border-style: double;
  width: 44%;
}

.bookends:before, .bookends:after {
  content: ''; 
  position: absolute;
  bottom: -3.536px;
  width: 7.071px;
  height: 7.071px;
  display: block;
  border-width: 0 7.071px 7.071px 0;
  border-color: hsl(0, 0%, 50%);
  border-style: double;
  box-sizing: border-box;
}

.bookends:before {
  content: ''; 
  transform: translateZ(0) rotate(-45deg);
  left: -21px;
}

.bookends:after {
  content: ''; 
  transform: translateZ(0) rotate(135deg);
  right: -21px;
}

.categories {
  position: relative;
  height: 187vh;
  background: linear-gradient(rgba(255,255,255,.7), rgba(255,255,255,.7)), url("../img/backgrounds/back_categories.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#division1 hr {
  margin-top: 20px;
  width: 35%;
}

.categories h1 {
  font-size: 65px;
  font-family: 'Kalam', cursive;
  margin: 0 auto;
  color: #a13941ff;
}

.categories .hover_cat_1 {
  width: 30%;
  margin-top: 20px;
  margin-left: 40px;
  height: auto;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  border: 5px solid #008c76ff;
  border-radius: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}

.categories .hover_cat_1 .overlay_cat_1 {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out
}

.categories .hover_cat_1 img {
  height: auto;
  display: block;
  position: relative;
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
}

.categories .hover_cat_1 h5 {
  text-transform: uppercase;
  color: #fff;
  font-family: 'Itim', cursive;
  text-align: center;
  position: relative;
  font-size: 1.9em;
  letter-spacing: 5px;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transform: translatey(-100px);
  -ms-transform: translatey(-100px);
  transform: translatey(-100px);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  margin-top: 100px;
  padding: 30px;
}

.categories .hover_cat_1 .info_cat_1 {
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  font-size: 1em;
  letter-spacing: 3px;
  filter: alpha(opacity=0);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  margin: 50px 0 0;
  padding: 7px 30px;
  font-weight: 600;
  background: transparent;
  border: 1px solid #008c76ff;
}

.categories .hover_cat_1 .info_cat_1:hover {
  box-shadow: 0 0 5px #fff;
}

.categories .hover_cat_1:hover img {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.categories .hover_cat_1:hover .overlay_cat_1 {
  opacity: 1;
  filter: alpha(opacity=100);
}

.categories .hover_cat_1:hover h5, .hover_cat_1:hover .info_cat_1 {
  opacity: 1;
  filter: alpha(opacity=100);
  -ms-transform: translatey(0);
  -webkit-transform: translatey(0);
  transform: translatey(0);
}

.categories .hover_cat_1:hover .info_cat_1 {
  -webkit-transition-delay: .2s;
  transition-delay: .2s;
}

.categories .hover_cat_2 {
  width: 30%;
  margin-top: 20px;
  margin-left: 20px;
  height: auto;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  border: 5px solid #ffba52ff;
  border-radius: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}

.categories .hover_cat_2 .overlay_cat_2 {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out
}

.categories .hover_cat_2 img {
  height: auto;
  display: block;
  position: relative;
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
}

.categories .hover_cat_2 h5 {
  text-transform: uppercase;
  color: #fff;
  font-family: 'Itim', cursive;
  text-align: center;
  position: relative;
  font-size: 1.9em;
  letter-spacing: 5px;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transform: translatey(-100px);
  -ms-transform: translatey(-100px);
  transform: translatey(-100px);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  margin-top: 100px;
  padding: 30px;
}

.categories .hover_cat_2 .info_cat_2 {
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  font-size: 1em;
  letter-spacing: 3px;
  filter: alpha(opacity=0);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  margin: 50px 0 0;
  padding: 7px 30px;
  font-weight: 600;
  background: transparent;
  border: 1px solid #ffba52ff;
}

.categories .hover_cat_2 .info_cat_2:hover {
  box-shadow: 0 0 5px #fff;
}

.categories .hover_cat_2:hover img {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.categories .hover_cat_2:hover .overlay_cat_2 {
  opacity: 1;
  filter: alpha(opacity=100);
}

.categories .hover_cat_2:hover h5, .hover_cat_2:hover .info_cat_2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -ms-transform: translatey(0);
  -webkit-transform: translatey(0);
  transform: translatey(0);
}

.categories .hover_cat_2:hover .info_cat_2 {
  -webkit-transition-delay: .2s;
  transition-delay: .2s;
}

.categories .hover_cat_3 {
  width: 30%;
  margin-top: 20px;
  margin-left: 20px;
  height: auto;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  border: 5px solid #8abad3ff;
  border-radius: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}

.categories .hover_cat_3 .overlay_cat_3 {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out
}

.categories .hover_cat_3 img {
  height: auto;
  display: block;
  position: relative;
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
}

.categories .hover_cat_3 h5 {
  text-transform: uppercase;
  color: #fff;
  font-family: 'Itim', cursive;
  text-align: center;
  position: relative;
  font-size: 1.9em;
  letter-spacing: 5px;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transform: translatey(-100px);
  -ms-transform: translatey(-100px);
  transform: translatey(-100px);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  margin-top: 100px;
  padding: 30px;
}

.categories .hover_cat_3 .info_cat_3 {
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  font-size: 1em;
  letter-spacing: 3px;
  filter: alpha(opacity=0);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  margin: 50px 0 0;
  padding: 7px 30px;
  font-weight: 600;
  background: transparent;
  border: 1px solid #8abad3ff;
}

.categories .hover_cat_3 .info_cat_3:hover {
  box-shadow: 0 0 5px #fff;
}

.categories .hover_cat_3:hover img {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.categories .hover_cat_3:hover .overlay_cat_3 {
  opacity: 1;
  filter: alpha(opacity=100);
}

.categories .hover_cat_3:hover h5, .hover_cat_3:hover .info_cat_3 {
  opacity: 1;
  filter: alpha(opacity=100);
  -ms-transform: translatey(0);
  -webkit-transform: translatey(0);
  transform: translatey(0);
}

.categories .hover_cat_3:hover .info_cat_3 {
  -webkit-transition-delay: .2s;
  transition-delay: .2s;
}

.categories .hover_cat_4 {
  width: 30%;
  margin-top: 20px;
  margin-left: 40px;
  height: auto;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  border: 5px solid #faa094ff;
  border-radius: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}

.categories .hover_cat_4 .overlay_cat_4 {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out
}

.categories .hover_cat_4 img {
  height: auto;
  display: block;
  position: relative;
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
}

.categories .hover_cat_4 h5 {
  text-transform: uppercase;
  color: #fff;
  font-family: 'Itim', cursive;
  text-align: center;
  position: relative;
  font-size: 1.9em;
  letter-spacing: 5px;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transform: translatey(-100px);
  -ms-transform: translatey(-100px);
  transform: translatey(-100px);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  margin-top: 100px;
  padding: 30px;
}

.categories .hover_cat_4 .info_cat_4 {
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  font-size: 1em;
  letter-spacing: 3px;
  filter: alpha(opacity=0);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  margin: 50px 0 0;
  padding: 7px 30px;
  font-weight: 600;
  background: transparent;
  border: 1px solid #faa094ff;
}

.categories .hover_cat_4 .info_cat_4:hover {
  box-shadow: 0 0 5px #fff;
}

.categories .hover_cat_4:hover img {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.categories .hover_cat_4:hover .overlay_cat_4 {
  opacity: 1;
  filter: alpha(opacity=100);
}

.categories .hover_cat_4:hover h5, .hover_cat_4:hover .info_cat_4 {
  opacity: 1;
  filter: alpha(opacity=100);
  -ms-transform: translatey(0);
  -webkit-transform: translatey(0);
  transform: translatey(0);
}

.categories .hover_cat_4:hover .info_cat_4 {
  -webkit-transition-delay: .2s;
  transition-delay: .2s;
}

.categories .hover_cat_5 {
  width: 30%;
  margin-top: 20px;
  margin-left: 20px;
  height: auto;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  border: 5px solid #B22222;
  border-radius: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}

.categories .hover_cat_5 .overlay_cat_5 {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out
}

.categories .hover_cat_5 img {
 
  height: auto;
  display: block;
  position: relative;
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
}

.categories .hover_cat_5 h5 {
  text-transform: uppercase;
  color: #fff;
  font-family: 'Itim', cursive;
  text-align: center;
  position: relative;
  font-size: 1.3em;
  letter-spacing: 5px;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transform: translatey(-100px);
  -ms-transform: translatey(-100px);
  transform: translatey(-100px);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  margin-top: 100px;
  padding: 30px;
}

.categories .hover_cat_5 .info_cat_5 {
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  font-size: 1em;
  letter-spacing: 3px;
  filter: alpha(opacity=0);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  margin: 50px 0 0;
  padding: 7px 30px;
  font-weight: 600;
  background: transparent;
  border: 1px solid #B22222;
}

.categories .hover_cat_5 .info_cat_5:hover {
  box-shadow: 0 0 5px #fff;
}

.categories .hover_cat_5:hover img {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.categories .hover_cat_5:hover .overlay_cat_5 {
  opacity: 1;
  filter: alpha(opacity=100);
}

.categories .hover_cat_5:hover h5, .hover_cat_5:hover .info_cat_5 {
  opacity: 1;
  filter: alpha(opacity=100);
  -ms-transform: translatey(0);
  -webkit-transform: translatey(0);
  transform: translatey(0);
}

.categories .hover_cat_5:hover .info_cat_5 {
  -webkit-transition-delay: .2s;
  transition-delay: .2s;
}

#division2 hr {
  margin-top: -30px;
  width: 35%;
}

.footer {
	background: #666;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
  padding: 40px 30px 20px 60px;
}

.footer .footer-left, .footer .footer-center, .footer .footer-right {
	display: inline-block;
	vertical-align: top;
}

.footer .footer-left {
	width: 40%;
}

.footer img {
  margin-left: 15px;
  width: 50%;
  height: auto;
}

.footer .footer-links {
	color: #ffffff;
	margin: 10px 20px 12px;
	padding: 0;
}

.footer .footer-links a {
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer .footer-company-name {
	color: #222;
  font-size: 15px;
	font-weight: normal;
  margin: 0;
  margin-left: 14px;
  margin-top: 20px;
}

.footer .footer-company-name span {
  font-weight: bold;
  color: #fcc444;
}

.footer .footer-center {
  padding-top: 15px;
  margin-left: -40px;
	width: 35%;
}

.footer .footer-center i {
	background-color: #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 45px;
	height: 45px;
  border-radius: 50%;
  border: 2px solid #fcc444;
	text-align: center;
	line-height: 42px;
  margin: 10px 15px;
  padding-top: 2px;
	vertical-align: middle;
}

.footer .footer-center p {
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
  margin:0;
  font-size: 20px;
}

.footer .footer-center p span {
	display:block;
	font-weight: normal;
	font-size:16px;
	line-height:2;
}

.footer .footer-center p a {
	color: lightseagreen;
	text-decoration: none;;
}

.footer .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer .footer-links .link-1:before {
  content: none;
}

.footer .footer-right {
  margin-left: -30px;
	width: 28%;
}

.footer .footer-company-about {
	line-height: 20px;
	color: #92999f;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

.footer .footer-company-about #t1 {
	display: block;
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 15px;
}

.footer .footer-company-about #t2 {
  color: #fcc444;
}

.footer .footer-icons {
  margin-top: 20px;
  margin-left: 90px;
}

.footer .footer-icons a {
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color: #33383b;
	border-radius: 2px;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
	margin-right: 3px;
  margin-bottom: 4px;
  border: 2px solid #fcc444;
}

.sidenav .active {
  color: #fff;
}